@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.all-center {
  @apply flex justify-center items-center;
}

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  @apply bg-gray-400;
}

body::-webkit-scrollbar-track {
  margin-top: 60px;
}

@media (max-width: 576px) {
  body::-webkit-scrollbar {
    display: none;
  }
}
